body{
    /* background-color:rgb(161, 218, 220); */
    
    background-image: url(/SoftwareDev5.avif);
    background-size: cover;
    background-position: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.section{
    /* width: 27%; */
    /* border: 2px solid blue; */
    background-color: rgba(0, 0, 0, 0.547);
    box-shadow: 1px 1px 3px 3px silver;
    border-radius: 15px;
    height: 30rem;
    padding: 2px 15px;
}
.head   {
    text-align: center;
    color: white;
    font-size: larger;
}
#playerName{
     border: none;
     background-color: inherit;
     border: 1.5px solid silver;
     padding: 10px 25px;
     border-radius: 10px;
     color: white;
}
#start{
    margin-top: 1em;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: inherit;
    color: white;
}
h1{text-align: center;}

button{
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: medium;
    border: none;
    margin: 2px;
    background-color: inherit;
    box-shadow: 0px 0px 3px 1px white;
    color: white;
}

.div{
    margin-left: 2em;
    margin-bottom: 3em;
    color: white;
}
